body{
    width: 100%;
}
* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    color: #0076be;
}

.gnb {
    /* margin-top: 10px; */
    width: 100%px;
    height: 100px;
    border-bottom: 1px solid #7ac8f8;
}

.logo {
    position: fixed;
    left: 0;
    width: 160px;
    height: 96px;
}

.click_login {
    width: 80px;
    height: 25px;
    position: fixed;
    margin-top: 10px;
    margin-right: 10px;
    right: 0;
    border: 1px solid black;
    border-radius: 10%;
    padding: 5px;
}

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

/*특정 부분 스크롤바 없애기*/
.folium-map {
    -ms-overflow-style: none;
}

.box::-webkit-scrollbar {
    display: none;
}


.drop {
    margin: 0 auto;
    width: 550px;
    margin-right: 100px;
}

.drop>li {
    width: 180px;
    line-height: 40px;
    float: left;
    padding-top: 10px;
}

.down {
    height: 0;
    overflow: hidden;
    margin: 0 auto;
    background-color: #fff;
    transition: .3s;
}

.drop:hover .ho {
    background-color: #43b5fb;
    color: #fff;
}

.drop:hover .down {
    height: 200px;

}

.down>li:hover {
    background-color: #7ac8f8;
}

.folium-map {
    height: 100%;
    overflow: hidden;
}